p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
p {     text-indent: 20pt;   } 
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
